ul {
	list-style-type: none;
	padding: 0;
	li {
		margin-bottom: 20px;
		font-size: 24px;
		padding: 12px 70px 12px 50px;
		border: 3px solid rgb(231, 89, 6);
		background-color: #bcbbee;
		border-radius: 20px;
		// overflow: hidden;
		word-wrap: break-word;
		height: auto;
		position: relative;
	}
	.checkbox {
		content: '';
		position: absolute;
		height: 28px;
		width: 28px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		top: 15px;
		left: 10px;
		cursor: pointer;
	}

	.check {
		text-decoration: line-through;
	}


	.editContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #bcbbee;
		border-radius: 35px;
		padding-left: 20px;
		margin-bottom: 50px;

		.editInput {
			flex: 1;
			border: none;
			outline: none;
			background: transparent;
			padding: 10px;
			font-weight: 14px;
			font-size: 24px;
			// border: 3px solid rgb(231, 89, 6);
			// background-color: #bcbbee;
		}
		button {
			border: none;
			outline: none;
			padding: 20px 50px;
			background: #36b752;
			color: #fff;
			font-style: 16px;
			cursor: pointer;
			border-radius: 40px;
			// border: 3px solid rgb(231, 89, 6);

		}
	}

	.deletePost {
		position: absolute;
		top: 19px;
		right: 20px;
		width: 20px;
		height: 25px;
		background-size: cover;
		background-position: center;
		cursor: pointer;
	}
	.void {
		opacity: 0.5;
	}
	// span:hover {
	// 	background: #dddddd;
	// 	width: 40px;
	// 	border-radius: 30px;
	// }
}
