* {
	margin: 0;
	padding: 0;
	/* font-family: 'Mochiy Pop One', sans-serif; */
	font-family: 'Noto Serif', serif;
}
.container {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(140deg, #191458, #735d39);
	padding: 10px;
}
